.frame-a-child,
.frame-child {
  position: relative;
  box-sizing: border-box;
  display: none;
}
.frame-a-child {
  height: 108px;
  width: 1920px;
  background-color: var(--color-blueviolet);
  box-shadow: 0 8px 32.7px 21px rgba(196, 164, 255, 0.12),
    0 26px 32.3px 31px rgba(196, 164, 255, 0.12) inset;
  border: 1px solid var(--color-gray-100);
  max-width: 100%;
}
.frame-child {
  height: 60px;
  width: 197px;
  border-radius: var(--br-28xl);
  background-color: var(--color-gainsboro);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
}
.about-me {
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-montserrat);
  color: var(--color-black);
  text-align: left;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 2px #000;
  z-index: 1;
}
.rectangle-parent {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: var(--padding-2xl) 26px var(--padding-2xl) 31px;
  background-color: var(--color-gainsboro);
  height: 60px;
  border-radius: var(--br-28xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  z-index: 1;
}
.frame-item{
  background-color: var(--color-silver);
  border: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
}
.frame-item {
  height: 60px;
  width: 354.3px;
  position: relative;
  border-radius: var(--br-28xl);
  background-color: var(--color-gainsboro);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  display: none;
  max-width: 100%;
}
.published-projects {
  position: relative;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 2px #000;
  z-index: 1;
}
.frame-a-inner,
.rectangle-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.rectangle-group {
  border-radius: var(--br-28xl);
  background-color: var(--color-gainsboro);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  padding: var(--padding-2xl) 36px var(--padding-2xl) var(--padding-18xl);
  white-space: nowrap;
}
.frame-a-inner {
  cursor: pointer;
  z-index: 1;
}
.frame-inner {
  height: 60px;
  width: 259px;
  position: relative;
  border-radius: var(--br-28xl);
  background-color: var(--color-gainsboro);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.jam-projects {
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-montserrat);
  color: var(--color-black);
  text-align: left;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 2px #000;
  z-index: 1;
}
.rectangle-container,
.rectangle-div {
  border-radius: var(--br-28xl);
  background-color: var(--color-gainsboro);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.rectangle-container {
  cursor: pointer;
  padding: var(--padding-2xl);
  width: 259px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  z-index: 1;
}
.rectangle-div {
  height: 60px;
  width: 361.5px;
  position: relative;
  display: none;
  max-width: 100%;
}
.personal-projects {
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-montserrat);
  color: var(--color-black);
  text-align: left;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 2px #000;
  z-index: 1;
}
.frame-child1,
.group-button {
  border-radius: var(--br-28xl);
  background-color: var(--color-gainsboro);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.group-button {
  cursor: pointer;
  padding: var(--padding-2xl);
  width: 362px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  white-space: nowrap;
  z-index: 1;
}
.frame-child1 {
  height: 60px;
  width: 195px;
  position: relative;
  display: none;
}
.contact {
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-montserrat);
  color: var(--color-black);
  text-align: left;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 2px #000;
  z-index: 1;
}
.rectangle-parent1 {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: var(--padding-2xl);
  background-color: var(--color-gainsboro);
  width: 195px;
  border-radius: var(--br-28xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.github-png-1-icon,
.linkedin-1-icon {
  height: 70px;
  width: 70px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}
.linkedin-1-icon {
  height: 90px;
  width: 90px;
}
.about-me2,
.frame-a {
  font-family: var(--font-montserrat);
  text-align: left;
}
.frame-a {
  align-self: stretch;
  background-color: var(--color-blueviolet);
  box-shadow: 0 8px 32.7px 21px rgba(196, 164, 255, 0.12),
    0 26px 32.3px 31px rgba(196, 164, 255, 0.12) inset;
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-xl) var(--padding-4xs) 66px;
  gap: 27px;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.about-me2 {
  height: 44px;
  position: relative;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  color: var(--color-white);
  display: inline-block;
}
.title {
  border: 1px solid var(--color-black);
  padding: var(--padding-6xs);
  background-color: var(--color-slateblue);
  width: 255px;
  border-radius: var(--br-28xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.blank-line,
.greetings-im-berkay,
.my-primary-goal {
  margin: 0;
}
.greetings-im-berkay-container {
  height: 406px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.company-two-page-games-text,
.game-title-display {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.game-title-display {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 15px;
  box-sizing: border-box;
}
.company-two-page-games-text {
  flex: 1;
  flex-direction: column;
  gap: 29px;
}
.portfolio-me-1 {
  width: 345px;
  position: relative;
  border-radius: var(--br-mid);
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.about-me1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.title-child {
  height: 60px;
  width: 474px;
  position: relative;
  border-radius: var(--br-28xl);
  background-color: var(--color-slateblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.published-projects2 {
  height: 44px;
  position: relative;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  z-index: 1;
}
.game-title-child,
.title1 {
  border-radius: var(--br-28xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  max-width: 100%;
}
.title1 {
  padding: var(--padding-5xs) 24px var(--padding-6xs) var(--padding-4xl);
  background-color: var(--color-slateblue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.game-title-child {
  height: 60px;
  width: 346px;
  position: relative;
  background-color: var(--color-slategray);
  display: none;
}
.lemonade-party {
  height: 44px;
  position: relative;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  z-index: 1;
}
.game-title {
  border: 1px solid var(--color-black);
  padding: var(--padding-5xs) 14px var(--padding-6xs) var(--padding-4xl);
  background-color: var(--color-slategray);
  border-radius: var(--br-28xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  max-width: 100%;
  white-space: nowrap;
}
.image-1-icon {
  height: 50px;
  width: 50px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
}
.game-title-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
  max-width: 100%;
}
.lemonade-1-icon,
.lemonade-2-icon,
.lemonade-3-icon {
  position: relative;
  border-radius: var(--br-mid);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  min-height: 357px;
}
.frame-container,
.lemonade-1-parent {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.lemonade-1-parent {
  display: grid;
  flex-direction: row;
  gap: var(--gap-base);
  grid-template-columns: repeat(3, minmax(257px, 1fr));
}
.frame-container {
  display: flex;
  flex-direction: column;
  padding: 0 2px 0 0;
  box-sizing: border-box;
  gap: 13px;
}
.company-two-page {
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.frame-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25px;
  max-width: 100%;
}
.my-contributions {
  position: relative;
  text-decoration: underline;
}
.my-debut-project {
  align-self: stretch;
  height: 58px;
  position: relative;
  font-size: var(--font-size-5xl);
  display: inline-block;
}
.frame-parent,
.my-contributions-parent,
.published-projects1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.my-contributions-parent {
  gap: var(--gap-9xs);
  font-size: var(--font-size-13xl);
}
.frame-parent,
.published-projects1 {
  gap: var(--gap-11xl);
  max-width: 100%;
}
.published-projects1 {
  gap: var(--gap-26xl);
}
.title-item {
  height: 60px;
  width: 347px;
  position: relative;
  border-radius: var(--br-28xl);
  background-color: var(--color-slateblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.jam-projects2 {
  height: 44px;
  position: relative;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  z-index: 1;
}
.title2 {
  border: 1px solid var(--color-black);
  padding: var(--padding-5xs) 29px var(--padding-6xs) 32px;
  background-color: var(--color-slateblue);
  border-radius: var(--br-28xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  white-space: nowrap;
}
.game-title-item{
  background-color: var(--color-mediumpurple);
  border: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
}
.game-title-item {
  height: 60px;
  width: 272px;
  position: relative;
  border-radius: var(--br-28xl);
  background-color: var(--color-slategray);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  display: none;
}
.kat-vs-kat {
  height: 44px;
  position: relative;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  z-index: 1;
}
.game-title1 {
  border: 1px solid var(--color-black);
  padding: var(--padding-5xs) 34px var(--padding-6xs) var(--padding-14xl);
  background-color: var(--color-slategray);
  border-radius: var(--br-28xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.github-png-2-icon {
  height: 50px;
  width: 50px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
}
.game-title-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  max-width: 100%;
}
.image-6-1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.katvs-kat-game-title,
.title-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.katvs-kat-game-title {
  align-self: stretch;
  flex: 1;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  gap: 20px;
}
.title-parent {
  width: 526px;
  height: 483px;
  gap: var(--gap-26xl);
}
.contributors {
  position: relative;
}
.my-contributions1 {
  position: relative;
  text-decoration: underline;
}
.i-was-participated {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-5xl);
}
.my-contributions-group {
  gap: var(--gap-9xs);
  font-size: var(--font-size-13xl);
}
.contributors-parent,
.jam-projects1,
.my-contributions-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.contributors-parent {
  gap: var(--gap-11xl);
}
.jam-projects1 {
  gap: 75px;
  max-width: 100%;
}
.portfolio-rectangle,
.title-inner {
  box-sizing: border-box;
  max-width: 100%;
}
.portfolio-rectangle {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
  gap: var(--gap-37xl);
}
.title-inner {
  height: 60px;
  width: 445px;
  position: relative;
  border-radius: var(--br-28xl);
  background-color: var(--color-slateblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  display: none;
}
.personal-projects2 {
  height: 44px;
  position: relative;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  z-index: 1;
}
.title3 {
  border: 1px solid var(--color-black);
  padding: var(--padding-5xs) var(--padding-6xs) var(--padding-6xs);
  background-color: var(--color-slateblue);
  align-self: stretch;
  border-radius: var(--br-28xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  white-space: nowrap;
}
.game-title-inner {
  background-color: var(--color-mediumpurple);
  border: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
}
.game-title-inner {
  height: 60px;
  width: 346px;
  position: relative;
  border-radius: var(--br-28xl);
  background-color: var(--color-slategray);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  display: none;
  max-width: 100%;
}
.in-progress {
  height: 44px;
  position: relative;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  z-index: 1;
}
.frame-title,
.game-title2,
.personal-projects1 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.game-title2 {
  border: 1px solid var(--color-black);
  padding: var(--padding-5xs) var(--padding-19xl) var(--padding-6xs)
    var(--padding-4xl);
  background-color: var(--color-slategray);
  border-radius: var(--br-28xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}
.frame-title,
.personal-projects1 {
  flex-direction: column;
  align-items: flex-start;
}
.personal-projects1 {
  width: 444px;
  gap: var(--gap-26xl);
}
.frame-title {
  align-self: stretch;
  gap: 129px;
}
.title-child1 {
  height: 60px;
  width: 256px;
  position: relative;
  border-radius: var(--br-28xl);
  background-color: var(--color-slateblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.contact2 {
  height: 44px;
  position: relative;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  z-index: 1;
}
.rectangle-parent:hover
{
  background-color: var(--color-silver);
  border: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
}

.title4 {

  border: 1px solid var(--color-black);
  padding: var(--padding-5xs) var(--padding-19xl) var(--padding-6xs)
    var(--padding-18xl);
  background-color: var(--color-slateblue);
  border-radius: var(--br-28xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.feel-free-to {
  position: relative;
  white-space: pre-wrap;
  z-index: 1;
}
.contact-info-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xl);
  max-width: 100%;
}
.berkay11karakayagmailcom {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 292px;
  max-width: 100%;
  white-space: nowrap;
}
.contact1 {
  width: 917px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 17px;
  max-width: 100%;
  font-family: var(--font-montserrat);
}
.about-me-container,
.desktop-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.about-me-container {
  width: 1106px;
  align-items: flex-start;
  padding: 0 var(--padding-xl);
  gap: 125px;
  max-width: 100%;
}
.desktop-1 {
  width: 100%;
  position: relative;
  background-color: #252525;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  align-items: center;
  padding: 0 0 1047px;
  gap: var(--gap-37xl);
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-montserrat-alternates);
}
@media screen and (max-width: 1350px) {
  .frame-a {
    display: none;
    padding-left: var(--padding-14xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1125px) {
  .portfolio-me-1 {
    flex: 1;
  }
  .about-me1 {
    flex-wrap: wrap;
  }
  .lemonade-1-parent {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(257px, 446px));
  }
  .jam-projects1 {
    gap: 37px;
  }
  .frame-title {
    gap: 64px;
  }
  .about-me-container {
    gap: 62px;
  }
}
@media screen and (max-width: 800px) {
  .company-two-page-games-text {
    min-width: 100%;
  }
  .lemonade-1-icon,
  .lemonade-2-icon,
  .lemonade-3-icon {
    width: 100%;
  }
  .lemonade-1-parent {
    grid-template-columns: minmax(257px, 1fr);
  }
  .my-contributions {
    font-size: var(--font-size-7xl);
  }
  .published-projects1,
  .title-parent {
    gap: var(--gap-3xl);
  }
  .my-contributions1 {
    font-size: var(--font-size-7xl);
  }
  .jam-projects1 {
    gap: 19px;
  }
  .portfolio-rectangle {
    gap: var(--gap-9xl);
  }
  .frame-title {
    gap: 32px;
  }
  .contact2 {
    font-size: 29px;
  }
  .about-me-container {
    gap: var(--gap-12xl);
  }
  .desktop-1 {
    gap: var(--gap-9xl);
  }
}
@media screen and (max-width: 450px) {
  .greetings-im-berkay-container {
    font-size: var(--font-size-lgi);
  }
  .game-title-parent {
    flex-wrap: wrap;
  }
  .company-two-page,
  .contributors,
  .i-was-participated,
  .my-contributions,
  .my-contributions1,
  .my-debut-project {
    font-size: var(--font-size-lgi);
  }
  .personal-projects1 {
    gap: var(--gap-3xl);
  }
  .frame-title {
    gap: var(--gap-base);
  }
  .contact2 {
    font-size: 22px;
  }
  .feel-free-to {
    font-size: var(--font-size-lgi);
  }
  .contact-info-frame {
    gap: var(--gap-mini);
  }
  .berkay11karakayagmailcom {
    font-size: var(--font-size-lgi);
  }
  .about-me-container {
    gap: var(--gap-base);
  }
}
